.landing {
    position: relative;
    display: flex;
    justify-content: center;
    font-family: 'Coolvetica';
    align-items: flex-start;
    height: 100vh;
    width: 100%;
    padding: 2em 15% 2em 15%;
    font-size: 4em;
    color: white;
    text-align: left;
    flex-direction: column;
    background: url("../../assets/images/landing-bg.jpg"), rgba(0, 0, 0, 0.7);
    background-size: cover;
    background-blend-mode: overlay;
}

.green {
  color: #55ff55;
}

.yellow {
  color: #ffff33;
}

@media only screen and (max-width: 600px) {
  .landing {
    padding: 2em 1em;
    font-size: 2.5em;
    height: 90vh;
    justify-content: flex-start;
  }

  .socials {
    bottom: 2em;
  }
}
