<div class="landing">
    <div>Hey! <span class="green">I'm Anish</span></div>
    <div>Your Friendly Neighbourhood</div>
    <app-cursor-definition class="yellow">
        <div *ngFor="let text of definingText" appDefItem>{{ text }}</div>
    </app-cursor-definition>
    <div class="row socials">
      <div class="col">
        <fa-icon [icon]="faLinkedin" class="social-icon" (click)="goToSocial('linkedin')"></fa-icon>
      </div>
      <div class="col">
        <fa-icon [icon]="faGithub" class="social-icon" (click)="goToSocial('github')"></fa-icon>
      </div>
    </div>
</div>
