.nav {
    position: fixed;
    display: flex;
    width: 100%;
    height: auto;
    background-color: black;
    color: white;
    font-size: 1.6em;
    font-family: 'LEMONMILK';
    font-weight: bold;
    padding: 1em 25%;
    flex-direction: row;
    align-items: center;
    z-index: 100;
}

@media only screen and (max-width: 600px) {
  .nav {
    position: relative;
    padding: 0;
    height: 10vh;
    justify-content: center;
    align-items: center;
  }
}
