@font-face {
    font-family: logo-font;
    src: url("../fonts/LEMONMILK-Bold.otf");
}

.nav {
    position: fixed;
    display: flex;
    width: 100%;
    height: auto;
    background-color: black;
    color: white;
    font-size: 18px;
    padding: 15px 25%;
    flex-direction: row;
    align-items: center;
    z-index: 100;
}

@media only screen and (max-width: 600px) {
    .nav {
        padding: 15px 5%;
    }
}

.logo {
    font-size: 25px;
    font-family: logo-font;
}
